
@{
    ViewBag.Title = "Creation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Risk Inclusion</h2>

<fieldset>
    <div class="row">
        <div class="col-sm-4 form-group">
            <label>Risk:</label>
            <textarea class="form-control"></textarea>
        </div>
        <div class="col-sm-4 form-group">
            <label>Plan:</label>
            <textarea class="form-control"></textarea>
        </div>
        <div class="col-sm-4 form-group">
            <label>Owner:</label>
            <input type="date" class="form-control" />
        </div>
        <div class="col-sm-4 form-group">
            <label>Suffix:</label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-sm-4 form-group">
            <label>Comment:</label>
            <textarea class="form-control"></textarea>
        </div>
        <div class="col-sm-4 form-group">
            <label>Action:</label>
            <textarea class="form-control"></textarea>
        </div>
    </div>
    <div class="form-group">
        <input type="button" value="Save" class="btn btn-primary" />
        <input type="button" value="Cancel" class="btn btn-secondary" />
    </div>
</fieldset>

