
@{
    ViewBag.Title = "War Room Schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-header">Risk Information Table</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>Risk</th>
            <th>Plan</th>
            <th>Owner</th>
            <th>Status</th>
            <th>Suffix</th>
            <th>Comments</th>
            <th>Action</th>
        </tr>
        <tr>
            <td><input type="text" disabled class="form-control"/></td>
            <td><input type="text" disabled class="form-control"/></td>
            <td><label>Test1</label></td>
            <td><input type="checkbox" data-toggle="toggle" data-on="Open" data-off="Close"/></td>
            <td><label>Test1</label></td>
            <td><textarea class="form-control" style="height:38px;"></textarea></td>
            <td><input type="text" class="form-control"/></td>
        </tr>
    </table>
</div>

